@{
    ViewData["Title"] = "Página Inicial - Venda de Carros";
}

<div class="container mt-5">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Marca</th>
                <th scope="col">Modelo</th>
                <th scope="col">Preço</th>
                <th scope="col">AnoCarro</th>
                <th scope="col">Combustivel</th>
                <th scope="col">Cor</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>mdo</td>
            </tr>
        </tbody>
    </table>
</div>
